@keyframes blurFadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes blurFadeInSub {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 0.6;
    filter: blur(0);
  }
}

@keyframes blurFadeInSub {
    from {
        opacity: 0;
        filter: blur(10px);
    }

    to {
        opacity: 0.3;
        filter: blur(0);
    }
}
@keyframes slideDownFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%); 
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0); 
  }
}

