@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-MediumSlanted.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Wellingtons";
  src: url("./fonts/TT Wellingtons Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Wellingtons";
  src: url("./fonts/TT Wellingtons Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
    font-family: "TT Wellingtons";
    src: url("./fonts/TT Wellingtons Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
/* @font-face {
    font-family: "TT Wellingtons";
    src: url("./fonts/TT Wellingtons Regular.eot") format("opentype");
    font-weight: 400;
    font-style: normal;
  } */
.haval-screen {
    background-color: #000000;
    padding: 38px;
    padding-bottom: 0;
    color:#fff;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .losung {
    display: flex;
    align-items: center;
    width: calc(84.5% - 6px);
    background-color: #fff;
    padding: 7px 16px 5px 16px;
    font-size: 13px;
    line-height: 100%;
    font-family: "Haval";
    font-weight: 500;
    position: relative;
    padding-left: calc(1% + 24px);
    height: 100%;
    min-height: 26px;
    color:#000;
  }
  /* .losung::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #54b9cb;
      transform-origin: top left;
  } */
   .figure{
      display: block;
      position: absolute;
      top: 0;
      left: 13px;
      width: 1%;
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #54b9cb;
      transform-origin: top left;
      height: 100%;
      min-width: 20px;
      min-height: 26px;
   }
   .losung::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 13px;
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #000;
      transform-origin: top left;
  }
  .header img {
    display: block;
    width: calc(14.5% - 6px);
  }
  .promo{
      display: flex;
      margin-top: 36px;
      justify-content: space-between;
      align-items: flex-start;
  }
  .intro{
      width: 36%;
      display: block;
    
  }
  .title{
      font-family: "Haval";
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 0;
      line-height: 120%;
  }
  .time__wrapper{
      display: flex;
      align-items: flex-start;
      margin-top: 32px;
      font-family: "Haval";
      font-weight: 400;
  }
  .time{
    font-size: 77px;
    line-height: 100%;
    height: 64px;
  }
  .date__wrapper{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 13px;
        height: 100%;
        font-size: 26px;
        line-height: 100%;
  }
  .date{
      margin-top: 12px;
  }
  .company{
    display: block;
    width: 24%;
  
  }
  .company__name{
    font-size: 40px;
    font-family: "Haval";
    font-weight: 400;
    line-height: 120%;
  }
  .address{
    font-size: 29px;
    font-family: "TT Wellingtons";
    opacity: 0.5;
    line-height: 120%;
    margin-top: 24px;
  }


  .employers{
    display: flex;
    width: 33%;
    align-items: flex-start;
    justify-content: flex-end;
    width: 25%;
  }
  .employer{
    display: block;
    width: 138px;
    font-family: "TT Wellingtons";
    
  }
  .employer:first-child{
    margin-right: 48px;
    
  }
  .employer img{
    display: block;
    width: 100%;
    object-fit: cover;
    
  }
  .name{
    font-size: 19px;
    font-weight: 400;
    margin-top: 10px;
  }
  .phone{
    font-size: 16px;
    font-weight: 700;
  }



  .custom-table {
    width: 100%;
    border-collapse: collapse;
   
    color: #fff;
    margin-top: 36px;

  }
  .custom-table thead th{
    font-weight: 500;
    font-size: 24px;
    font-family: 'Haval', sans-serif;
    padding: 0;
    padding-bottom: 10px;
  }
  .custom-table tbody td{
    font-weight: 500;
    font-size: 26px;
    color: #acada5;
    font-family: 'TT Wellingtons', serif;
    padding: 10px 0;
  }
  .custom-table col:nth-child(1) {
    width: 180px; /* Устанавливает ширину для первого столбца */
  }
  
  .custom-table col:nth-child(2) {
    width: 180px; /* Устанавливает ширину для второго столбца */
  }
  
  .custom-table col:nth-child(3) {
    width: 300px; /* Устанавливает ширину для третьего столбца */
  }
  
  .custom-table col:nth-child(4) {
    width: 300px; /* Устанавливает ширину для четвертого столбца */
  }
  
  .custom-table col:nth-child(5) {
    width: 430px; /* Устанавливает ширину для пятого столбца */
  }
  .custom-table col:nth-child(6) {
    width: 185px; /* Устанавливает ширину для пятого столбца */
  }
  .custom-table th, .custom-table td {
    padding: 15px;
    align-items: center;
    height: auto;

  }
  
  .custom-table tr {
    border-bottom: 1px solid #d6d6d6;
  
  }
  
  
  .status {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
  }
  
  .status:before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 100%;
    max-height: 74px;
    
  }
  
  .status.completed:before {
    background-color: #00c4cc; 
  }
  
  .status.in-progress:before {
    background-color: #ff9800;
  }
  
  .status.waiting:before {
    background-color: #d6d6d6;
  }
  
@media (min-width:1921px){
.haval-screen {
 
  padding: 2.54vw;
}

.losung {
  padding: 0.26vw 2vw;
  font-size: 0.52vw;
}

.promo{
    margin-top: 2.71vw;
}
.title{
    font-size: 2.54vw;
}
.time__wrapper{
    margin-top: 2.71vw;
}
.time{
    font-size: 4.7vw;
}
.date__wrapper{
    margin-left: 1vw;
    font-size: 1.6vw;
}
.date{
    margin-top: 0.68vw;
}
.company__name{
    font-size: 1.875vw;
  }
  .address{
    font-size: 1.25vw;
    margin-top: 1.25vw;
  }
  .employer:first-child{
    margin-right: 2.81vw;
    
  }
  .name{
    font-size: 1.39vw
  }
  .phone{
    font-size: 1.25vw
  }

  .custom-table {
    margin-top: 6.94vw; /* 100px -> vw */
  }
  
  .custom-table thead th {
    font-size: 2.57vw; /* 37px -> vw */
  }
  
  .custom-table tbody td {
    font-size: 2.78vw; /* 40px -> vw */
  }
  
  .custom-table th, .custom-table td {
    padding: 1.04vw; /* 15px -> vw */
    height: 5.14vw; /* 74px -> vw */
  }
  
  .status:before {
    width: 3.47vw; /* 50px -> vw */
    max-height: 5.14vw; /* 74px -> vw */
  }
  
}