@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-MediumSlanted.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Haval";
  src: url("./fonts/Haval-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Wellingtons";
  src: url("./fonts/TT Wellingtons Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Wellingtons";
  src: url("./fonts/TT Wellingtons Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

  .haval-screen {
    background-color: #000000;
   /*  padding: 38px; */
    padding-bottom: 0;
    color:#fff;
    padding: 1.979vw;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .losung {
    display: flex;
    align-items: center;
   /*  width: calc(84.5% - 6px); */
    background-color: #fff;
    /* padding: 7px 16px 5px 16px; */
    /* font-size: 13px; */
    line-height: 100%;
    font-family: "Haval";
    font-weight: 500;
    position: relative;
   /*  padding-left: calc(1% + 24px); */
    height: 100%;
   /*  min-height: 26px; */
    color:#000;
    width: calc(84.5% - 0.313vw); 
    padding: 0.365vw 0.833vw 0.260vw 0.833vw; 
    font-size: 0.677vw;
    padding-left: calc(1% + 1.25vw); 
    min-height: 1.354vw; 
  }
  /* .losung::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1%;
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #54b9cb;
      transform-origin: top left;
  } */
   .figure{
      display: block;
      position: absolute;
      top: 0;
     /*  left: 13px; */
      width: 1%;
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #54b9cb;
      transform-origin: top left;
      height: 100%;
     /*  min-width: 20px; */
     /*  min-height: 26px; */
      left: 0.677vw; /* 13px */
      min-width: 1.042vw; /* 20px */
      min-height: 1.354vw; /* 26px */
   }
   .losung::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    /*   width: 13px; */
      height: 100%;
      transform: skewX(-25deg);
      z-index: 5;
      background: #000;
      transform-origin: top left;
      width: 0.677vw; /* 13px */
  }
  .header img {
    display: block;
    /* width: calc(14.5% - 6px); */
    width: calc(14.5% - 0.313vw); /* 6px */
  }
  .promo{
      display: flex;
      /* margin-top: 36px; */
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 1.875vw; /* 36px */
  }
  .intro{
      width: 36%;
      display: block;
    
  }
  .title{
      font-family: "Haval";
      /* font-size: 40px; */
      font-size: 2.083vw; /* 40px */
      font-weight: 500;
      margin-bottom: 0;
      line-height: 120%;
  }
  .time__wrapper{
      display: flex;
      align-items: flex-start;
      /* margin-top: 32px; */
      margin-top: 1.667vw; /* 32px */
      font-family: "Haval";
      font-weight: 400;
  }
  .time{
    /* font-size: 77px; */
    line-height: 100%;
    /* height: 64px; */
    font-size: 4.010vw; /* 77px */
    height: 3.333vw; /* 64px */

  }
  .date__wrapper{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin-left: 13px; */
        height: 100%;
        
        line-height: 100%;
        margin-left: 0.677vw; /* 13px */
        font-size: 1.354vw; /* 26px */
  }
  .date{
      /* margin-top: 12px; */
      margin-top: 0.625vw; /* 12px */
  }
  .company{
    display: block;
    width: 24%;
  
  }
  .company__name{
    /* font-size: 40px; */
    font-size: 2.083vw; /* 40px */
    font-family: "Haval";
    font-weight: 400;
    line-height: 120%;
  }
  .address{
    /* font-size: 29px; */
    font-family: "TT Wellingtons";
    opacity: 0.5;
    line-height: 120%;
    /* margin-top: 24px; */
    font-size: 1.510vw; /* 29px */
    margin-top: 1.25vw; /* 24px */
  }


  .employers{
    display: flex;
    width: 33%;
    align-items: flex-start;
    justify-content: flex-end;
    width: 33%;
  }
  .employer{
    display: block;
    /* width: 138px; */
    font-family: "TT Wellingtons";
    width: 7.188vw; /* 138px */
  }
  .employer:first-child{
    /* margin-right: 48px; */
    margin-right: 2.5vw; /* 48px */
  }
  .employer img{
    display: block;
    width: 100%;
    object-fit: cover;
    
  }
  .name{
    /* font-size: 19px; */
    font-weight: 400;
    /* margin-top: 10px; */
    font-size: 0.99vw; /* 19px */
    margin-top: 0.521vw; /* 10px */
  }
  .phone{
    /* font-size: 16px; */
    font-weight: 700;
    font-size: 0.833vw; /* 16px */

  }



  .custom-table {
    width: 100%;
    border-collapse: collapse;
   
    color: #fff;
    /* margin-top: 36px; */
    margin-top: 2vw;
  }
  .custom-table thead th{
    font-weight: 500;
    /* font-size: 24px; */
    font-family: 'Haval', sans-serif;
    padding: 0;
    /* padding-bottom: 10px; */
    font-size: 1.3vw;
    padding-bottom: 0.5vw;
  }
  .custom-table tbody td{
    font-weight: 500;
    /* font-size: 26px; */
    color: #acada5;
    font-family: 'TT Wellingtons', serif;
    /* padding: 10px 0; */
    font-size: 1.3vw;
    padding: 0.5vw 0;
  }
  .custom-table col:nth-child(1) {
    /* width: 180px;  */
    width: 12.5vw;
  }
  
  .custom-table col:nth-child(2) {
    /* width: 180px;  */
    width: 12.5vw;
  }
  
  .custom-table col:nth-child(3) {
    /* width: 300px;  */
    width: 20.83vw;
  }
  
  .custom-table col:nth-child(4) {
    /* width: 300px; */
    width: 20.83vw;
  }
  
  .custom-table col:nth-child(5) {
    /* width: 430px;  */
    width: 29.86vw;
  }
  .custom-table col:nth-child(6) {
    /* width: 185px; */ 
    width: 12.85vw;
  }
  .custom-table th, .custom-table td {
   /*  padding: 15px; */
   padding: 1.04vw;
    align-items: center;
    height: auto;

  }
  
  .custom-table tr {
   /*  border-bottom: 1px solid #d6d6d6; */
    border-bottom: 0.07vw solid #d6d6d6;
  }
  
  
  .status {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    gap: 0.69vw;
    height: 100%;
  }
  
  .status:before {
    content: '';
    display: inline-block;
    /* width: 28px;
    height: 40px; */
    width: 1.4vw;
  height: 2vw;
    
  }
  .status.completed {
    color:#00c4cc;
  }
  
  .status.in-progress {
    color:#ff9800;
  }
  
  .status.waiting {
    color:#d6d6d6;
  }
  .status.completed:before {
    background-color: #00c4cc; 
    color:#00c4cc;
  }
  
  .status.in-progress:before {
    background-color: #ff9800;
    color:#ff9800;
  }
  
  .status.waiting:before {
    background-color: #d6d6d6;
    color:#d6d6d6;
  }
