.info {
  display: block;
  width: 100%;
  padding: 34px 0 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    display: flex;
    width: 44%;
    align-items: center;
    position: relative;
    padding-left: 22px;
    max-width: 474px;
    
  }
  &__block {
    display: block;
    width: 64%;
    max-width: 704px;
  }

  & h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 135%;
    & span {
      color: #f54932;
      font-weight: 700;
    }
  }
  &__table {
    width: 100%;
    margin-top: 60px;
    border-collapse: collapse;
    border-top: none;
    line-height: 110%;
    & td {
        border: 2px solid #D0D0D0;
        padding: 16px;

      &:first-child {
        width: 43.86%;
        border-left: none;
        padding-left: 0;opacity: 0.7;
      }
      &:last-child{
        width: 56.14%;
        border-right: none;
        font-weight: 600;
        padding-right: 0;
        
      }
      & s{
        margin-right: 12px;
      }
    }
    & tr {
        &:first-child td{
            border-top: none;
            padding-top: 0;
        }
        &:last-child td{
            border-bottom: none;
            padding-bottom: 0;
        }
    }
  }
  &__contact{
    margin-top: 48px;
    color:#3057A2;
  }
}
.money{
  position: absolute;
  top: 23px;
  right: 0;
}
.effect{
  position: absolute;
  z-index: 1;
  top:-28px;
  left: -28px;
  display: block;
}
.men{
  position: absolute;
  z-index: 2;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.hand{
  position: absolute;
  z-index: 3;
  bottom: -12px;
  right: -5px;
}
.cick-horse{
  position: absolute;
  
  bottom:0;
  left: -15px;
  z-index: 3;
  rotate: 30deg;
  transform: translate(26px, -44px);
  transition: all 0.3s ease-out;
  &_visible{
    rotate: 0deg;
    transform: translate(0,0);
    transition: all 0.3s ease-out;
  }
}
.strikethrough {

  text-decoration-color: red; /* Задает цвет линии */
  text-decoration-thickness: 2px; /* Задает толщину линии */
}
