.marquee-container {
    overflow: hidden;
    width: 100%;
  }
  .line{
    display: flex;
    padding: 18px 0;
    align-items: center;
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 110%;
    color:#fff;
    background-color: #F54932;
    white-space: nowrap;
    animation: marquee 15s linear infinite; 
    width: max-content; 
    & span{
        display: inline-block;
        margin: 0 15px;
        position: relative;
        &:first-child{
            margin-left: 12px;
        }
        &:last-child{
            margin-right: 12px;
        }
        &::before{
            position: absolute;
            content: "";
            right: -18px;
            top:50%;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

  


  
