  html {
      font-size: 14px;
      line-height: 1.5;


  }

  body {
      margin: 0;
      padding: 16px;
  }

  .dashboard {
      max-width: 1000px;
      margin: 0 auto;
  }



  .table-container {
      background: #ffffff;
      display: flex;
      flex-wrap: wrap;
      padding: 6px;
      width: 100%;
  }



  .table__row {
      display: flex;
      cursor: pointer;
      width: 100%;
      gap: 6px;
      margin: 3px 0;
  }


  .table__cell {
      padding: 16px 24px;
      font-size: 14px;
      display: flex;
      align-items: center;
      transition: background-color 0.15s ease;
      flex: 1 1;
      background: #f9fafb;
      font-weight: 500;

      &:nth-child(2) {
          background: #e3effb;
      }

      &_green {
          background: #d7fac9;

          & span {
              color: #10b981;
          }
      }

      &_red {
          background: #ffd1d1;

          & span {
              color: #ef4444;
          }
      }
  }

  .table__row:hover .table__cell {
      background: #b2d0ee;
  }


  .table__cell--number {
      justify-content: flex-end;
      color: #6b7280;
      text-align: right;
  }


  .dashboard__chart {
      width: 100%;
      height: 400px;
  }

  .badge {

      margin-left: 8px;
      font-weight: 700;
      font-size: 16px;
      width: 32px;
  }
  .table__row--active .table__cell {
      background: #b2d0ee;
      padding-left: 21px;
  }

  @media (max-width: 768px) {
      .table-container {
          grid-template-columns: 1.2fr repeat(3, 1fr);
      }

      .table__cell,
      .table-header__cell {
          padding: 12px 10px;
          font-size: 12px;
      }

      .dashboard__chart {
          height: 300px;
      }
  }
   @media (max-width: 576px) {
    .table-container{
        width: 577px;
        overflow-x: scroll;
    }
   }