@import 'libs/bootstrap-reboot';
@import 'libs/animation';
@import 'base/media';
body{
  background-color: #181818;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  font-family: Roboto;
  position: relative;
}

@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/promo';
@import 'blocks/btn';
@import 'blocks/content';
@import 'blocks/faq';
@import 'blocks/circle';
