@import "base/animation";
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
p,
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h6,
h5,
h4,
h3,
h2,
h1{
  font-family: "Merriweather";
}
h1{
  font-size: 60px;
  line-height: 110%;
  font-weight: 400;
  text-transform: uppercase;
}
.center{
  text-align: center;
  width: 360px;
  display: block;
  margin: 0 auto;
}
.right{
  text-align: right;
  width: 100%;
  display: block;
}
body {
  font-family: 'Golos Text';
  font-size: 20px;
  overflow-x: hidden;
  color:#313131;
  margin:0;
}

.container {

}

@import "blocks/_table";

@import "base/media";

