.faq{
  display: block;
  padding: 40px 0;

    &__wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;
      align-items:flex-start;
    }
    &__img{
      display: block;
      width: 33%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    &__content{
      display: block;
      width: 60%;
      background: linear-gradient(95deg, rgba(0, 144, 188, 0.20) 3.2%, rgba(0, 144, 188, 0.20) 14.73%, rgba(0, 142, 188, 0.20) 24.11%, rgba(0, 140, 188, 0.20) 31.68%, rgba(0, 137, 188, 0.20) 37.76%, rgba(0, 134, 188, 0.20) 42.68%, rgba(0, 130, 189, 0.20) 46.78%, rgba(0, 125, 189, 0.20) 50.38%, rgba(0, 121, 189, 0.20) 53.82%, rgba(0, 116, 189, 0.20) 57.42%, rgba(0, 111, 189, 0.20) 61.52%, rgba(0, 106, 189, 0.20) 66.44%, rgba(0, 101, 189, 0.20) 72.52%, rgba(0, 96, 189, 0.20) 80.08%, rgba(0, 91, 189, 0.20) 89.46%, rgba(0, 87, 189, 0.20) 100.99%);
      backdrop-filter: blur(2.5px);
      padding-top: 5px;

      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 1px solid rgb(5, 186, 199);
      position: relative;
      z-index: 1;
      
    }
    
    &__item{
      display: block;
      border-bottom: 1px solid rgb(5, 186, 199);
      width: 94%;
      margin: 0 auto;
      &:last-child{
        border-bottom:none;
        
        .faq__answer{
          border-bottom-right-radius: 30px;
        }
      }
    }
    &__question {
      display: block;
      box-sizing:border-box;
      color:#fff;
      text-align: left;
      background: transparent;
      margin: 5px;

      padding: 12px 0;
      width: calc(100% - 40px);
      border: none;
      outline: none;
      font-weight: 600;
      
      cursor: pointer;
  
    }
    &__answer {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background: transparent;
      padding: 0 5px;
      color:rgb(202, 202, 202);
      font-weight: 500;
    }

}