body {
  margin:0; 
  
  width: 100%;
  height: 100%;
}
.header {
  padding-top: 20px;
  width: 100%;
 /* max-width: 970px;*/
  height: 138px;
  background: url( );
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #84b908; 

}
.header.fixed{
  position: fixed;
  background-color:#84b908;
  height: auto;
}
.header.fixed .header__inner{
  padding-bottom: 12px;
  border-bottom:0;
  height: 90px;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
/* Container*/
.container{
  width: 100%;
  max-width: 1280px;
  /*max-width: 1920px;*/
  margin: 0 auto;
}
/*Intro*/
.intro{
  width: 100%;
  height: 370px;
  background: #93bd15; 
  -webkit-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}
.logo {
  margin-left: 40px;
  height:  auto;
  width: auto;
  
  
}

.nav{
  
  font-size: 16px;
  text-transform: uppercase;
  
}
.nav.show {
  display: flex;
}
.nav__link{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
  color: #ebece9;
  text-decoration: none;
  transition: color .2s linear;
  position: relative;
  font-weight: bold;
  
}
.nav__link:hover {
  color: #e3f02c;
  
  
}
.nav__link::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
 
  background-color: #d6e41b;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity .2s linear;
}
.nav__link:hover::after {
  display: block;
  opacity: 1;
}
.container_intro {
  margin-top: 138px;
  width: 100%;
  display: flex;
  padding: 0 2%;
  
  max-width: 1280px;
  /*max-width: 1920px;*/
}
.slide {
  height: 335px; 
  border-radius: 12px;
  margin: 20px 2px 20px 2px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  border: 2px solid /*#254b10*/;
  overflow-x: hidden;
}
.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide.active {
  flex: 20;
  margin-right: 0;
  padding-right: 0;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.35s ease-in 0.5s;
}
.content{
  width: 100%;
  height: auto;
  /*background: linear-gradient( to right, #dbe0cc, #88b410 95%) ;*/
  background: #679105;
  -webkit-background-size: cover;
  background-size: cover;
  
}
.content_inner{
  display:block;
	text-align:center;
  
  
}
.line{
  width: 100%;
  max-width: 1280px;
  /*max-width: 1920px;*/
  height: 50px;
  display: flex;
  align-items: center;
  background: #2d3237;/**/
  
  
}
.block{
  min-width: 250px;
  max-width: 400px;
  height: 50px;
  background: #535353;
  align-items: center;
  text-align: center;

  padding: 0 20px;
  color: #fff;
  
}

.product{
  width: 100%;
  height: 460px;
  padding: 20px;
  
}
.prev{
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.product_list{
  margin: 2%;
  margin-bottom: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  justify-content: space-around;
}
.t{
  display: block;
 
  width: 33%;
}
.p{
  border-radius: 24px;
  border: 1.5px solid #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  width: 95%;
  max-width: 335px;
  max-height: 250px;
}


.btn{
  display: inline-block;
  vertical-align: top;
  padding: 14px 20px;
  font-family: inherit;
  /*font-size:;*/
  color:#2d3237;
  font-weight: 800;
  
 
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .1s linear;
}
.btn--more{
background-color: rgb(247, 216, 41);
margin-left: 85%;
margin-bottom: 4%;
}
.btn--more:hover {
  background-color: rgb(155, 121, 10);
}
.map {
  width: 100%;
  height: auto;
  
  /*background: #70a001;*/
  
  flex: 1;
}
.map_inner{
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
}
.map_block{
 
  width: 50%;
}
.map_about{
  width: 44%;   
  /*background-color:#8dff93;*/
  inset: 0;
  margin: auto;
  background-color: #fff;
  /*background-color:#fff;*/
  box-sizing:border-box;
  border-radius: 20px;

}
.about_text{
  font-size: 20px;
  width: 100%;
  margin: 10% 0;
  border: 0;
  line-height: 1.6;
  padding: 30px;
  font-weight: bold;
}
.mail{
  text-decoration: none;
  color:#2d3237
}
.mail_foot{
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.partners{
  height: auto;
  background-color: #a9dd99;
  justify-content: space-around;
  padding: 0 5%;
}
.partners_inner{
  padding: 0.4%;

  margin-bottom: 0;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.partn{
  width: 20%;
  display: block;
  box-sizing:border-box;
  
}
.part{
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  
}
.footer{
  background-color: #2d3237;;
  padding: 3%;
  height: auto;
  color: #fff;
  flex-wrap: wrap;
  
}
.footer_inner{
 display: flex;
 margin-bottom: 0;
 flex: 1;
 justify-content: space-between;
 text-align: center;
 flex-wrap: wrap;
 }
.footer_inner h2 {
    
    text-align: center;
    margin-top: 0;

    text-transform: uppercase;
    border-bottom: 3px solid #baebbc;
    font-size: 18px;
    display: inline-block;
}

  .footer_inner h4 {
    margin-bottom: 1px;
    margin-top: 0%;
  }

input {
  height: 35px;
}
textarea {
  height: 90px;
}
.footer_contacts{
  
  font-size: 16px;
  margin-top: 0;
  text-align: justify;
  padding: 15px;
  width: 30%;
  
  
}


.footer_contacts p{
  margin-top: 10px;
  line-height: 27px;
}
.work{
  font-size: 16px;
  margin-top: 0;
  padding: 15px;
  width: 33%;
 
}

.work ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.days-item{
  padding: 6px 0;
  border-bottom: 1px solid #6e7174;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.days-item li{
  text-align: -webkit-match-parent;
}
.footer_connection{
  width: 33%;
  
  margin: 0 auto;
  padding: 15px;
 
  line-height: 30px;
}
.form_input{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  
}
.btn_col{
  display: flex;
  flex: 1;
  justify-content: space-around;
}
.btn--form{
  border-radius: 5px;
  background-color: #a9dd99;
  padding: 10px 35px;
  font-size: 16px;
  border: 1px solid #a9dd99;
  width: 150px;
}
.btn--form:hover,
.btn--form:focus{
  background-color: transparent;
  color: #a9dd99;
  cursor: pointer;
  
}


/* Media 
=============*/
.burger{
  display: none;
  cursor: pointer;
  background: none;
    border: 0;
    padding: 15px 0;
}
.burger_item{
  display: block;
  width: 35px;
  height: 4px;
  background-color:#fff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.burger_item::before,
.burger_item::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color:#fff;
}
.burger_item::before{
  top:-8px;

}
.burger_item::after{
  bottom: -8px;
}
@media (max-width: 1024px){
  .header__inner{
    width: auto;
  }
  .header.fixed .header__inner {
    height: 50px;
  }
  .nav{
  font-size: 16px;
  
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  width: 100%;
   
  text-align: left;
  background-color:#96c513;
  }
  
  .nav__link{

    padding: 5px 15px;
    margin: 0 ;
    text-align: left;
    
  }
  .burger{
    display: block;
    margin-right: 3%;
   
   
  }
  .slide{
    margin: 20px 1px 20px 1px;
    border:1px solid;
    
  }
  .slide h3 {
    font-size: 16px;
  }
  .line{
    height: auto;
    width: 100%;
    margin-top: auto;
    min-height: 37px;
  }
  .block {
    min-width:25%;
    height:auto;
    font-size: 10px;
    padding: 0 2px;
  }
  .product{
    height: auto;
  }
  .product_list{
    height: auto;
    margin: 1px;
  }
  .t{
    width: 100%;
    padding: 5px;
    
  }
  .p{
    min-width: auto;
    min-height: auto;
  }
  .btn--more{
    inset: 0;
    margin:10px auto 0;
    padding: 10px 13px;
    font-weight: 400;
    font-size: 10px;
  }
  .map_inner{
    justify-content: center;
    padding: 40px;
  }
  .map_block{
    width: 85%;
    inset: 0;
    margin:0;
    
  }
  .map_about{
    margin-top: 20px;
  }
  .partn{
    width: 33%;
    
  }
  .part{
    width: 50%;
  }
    .footer_inner h2 {
  
      font-size: 16px;
     
    }
        .mail_foot {
          
          font-size: 16px;
          
        }
}

@media (max-width: 900px) {
  .header{
    height: 110px;
   
  }
  
  .logo{
    margin-left: 5%;
  }
  .logo_pic {
    height: 80%;
    width: 80%;
    }
  .partn{
    width: 33%;
    
  }
  .nav{
    font-size: 10px;
    width: 100%;
    display: none;
  }
  .nav__link {
      padding: 5px 15px;
      margin: 0;
      text-align: left;
  }
  .container_intro{
    margin-top: 110px;
  }
  .part{
    width: 40%;
  }
    .footer_inner h2 {

     font-size: 12px;
  
    }
  .footer_contacts{
    width: 50%;
    font-size: 12px;
  }
    .mail_foot {
  
      font-size: 12px;
  
    }
  .work{
    width: 50%;
    font-size: 12px;
  }
  .footer_connection{
    width: 75%;
  }
  .form_input{
    font-size: 12px;
  }
  .btn--form{
    font-size: 12px;
    padding: 5px 20px;
    width: 100px;
  }
}






/*https://tailwindcss.com/docs/installation*/
