.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Nunito", sans-serif;
    width: 100%;
    z-index: 3;
    opacity: 0;
    animation: slideDownFadeIn 1.2s ease-out 2.9s forwards;

    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1920px;
        height: 71px;
        pointer-events: none;
        aspect-ratio: 1920 / 71;

        &_lap {
            display: none;
        }
        &_mb{
            display: none;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 65.31vw;
        margin: 0 auto;
        padding: 20px 0px;
        width: 100%;
        height: 100%;
    }

    & .container {
        position: relative;
    }

    &__nav,
    &__link,
    &__logo,
    &__link__name,
    &__link__val {
        opacity: 1 !important;
    }

    &__nav {
        display: flex;
        gap: 1.35vw;
        align-items: center;
        /* animation: blurFadeIn 1.2s ease-out 1.6s forwards; */
    }

    &__link {
        display: flex;
        flex-direction: column;
        color: #fff;
        text-decoration: none;
        /*   animation: blurFadeIn 1.2s ease-out 1.6s forwards; */

        /*   &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(3) {
      animation-delay: 0.1s;
    }

    &:nth-child(5) {
      animation-delay: 0.2s;
    }

    &:nth-child(7) {
      animation-delay: 0.3s;
    }

    &:nth-child(9) {
      animation-delay: 0.4s;
    } */

        &__name {
            font-size: 8px;
            font-weight: 600;
            line-height: 137%;
            /*   animation: blurFadeInSub 1.2s ease-out  forwards; */
        }

        &__val {
            font-size: 14px;
            font-weight: 600;
            line-height: 135%;
            letter-spacing: -2%;

            /*   animation: blurFadeIn 1.2s ease-out 0.5s forwards; */
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        /*   animation: blurFadeIn 1.2s ease-out 1.6s forwards !important; */

        img {
            max-width: 100%;
            height: auto;
            /*  opacity: 0; */
            /* animation: blurFadeIn 1.2s ease-out 0.5s forwards; */
        }
    }
}