.promo {
    display: block;
    width: 100vw;
    min-height: 100vh;
    padding: 202px 0 150px;

    &__video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__video-blur {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(18px);
        pointer-events: none;
        background-color: rgba(25, 60, 101, .4);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: calc(100vh - 202px - 150px);
    }

    &__block {}


    h1 {
        font-weight: 700;
        color: #F6FCFE;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out 0s forwards;

        span {
            opacity: 0;
            animation: blurFadeIn 1.2s ease-out forwards;

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: 0.2s;
            }

            &:nth-child(3) {
                animation-delay: 0.4s;
            }

            &:nth-child(4) {
                animation-delay: 0.6s;
            }

            &:nth-child(5) {
                animation: blurFadeInSub 1.2s ease-out 0.8s forwards;
                color: #F7F7FF;
            }

            &:nth-child(6) {
                animation-delay: 1s;
            }

            &:nth-child(7) {
                animation-delay: 1.2s;
            }

            &:nth-child(8) {
                animation-delay: 1.4s;
            }

            &:nth-child(9) {
                animation-delay: 1.6s;
            }
        }
    }


    &__subtitle {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #fff;
        margin-top: 78px;
        max-width: 430px;
        margin-right: 0;
        margin-left: auto;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out 1.6s forwards;

        &__text {
            max-width: 360px;
            margin-left: auto;
            margin-right: 0;
            line-height: 133%;

            span {
                opacity: 0;
                animation: blurFadeIn 1.2s ease-out forwards;

                &:nth-child(1) {
                    animation-delay: 0.5s;
                }

                &:nth-child(2) {
                    animation-delay: 0.7s;
                }

                &:nth-child(3) {
                    animation-delay: 0.9s;
                }

                &:nth-child(4) {
                    animation-delay: 1.1s;
                }

                &:nth-child(5) {
                    animation-delay: 1.3s;
                }

                &:nth-child(6) {
                    animation-delay: 1.5s;
                }

                &:nth-child(7) {
                    animation-delay: 1.7s;
                }

                &:nth-child(8) {
                    animation-delay: 1.9s;
                }

                &:nth-child(9) {
                    animation-delay: 2.1s;
                }

                &:nth-child(10) {
                    animation-delay: 2.3s;
                }

                &:nth-child(11) {
                    animation-delay: 2.5s;
                }

                &:nth-child(12) {
                    animation-delay: 2.7s;
                }

                &:nth-child(13) {
                    animation-delay: 2.9s;
                }
            }

            &_small {

                display: none;

               

            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 11px;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out 1.6s forwards;
    }

    &__footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }


    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 225px;
        position: relative;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        line-height: 100%;
        font-weight: 500;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out 2.9s forwards;

        &__wrapper {
            width: 430px;
            padding-left: 70px;
        }

        &::after,
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 24px;
            width: 7px;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &::after {
            content: "";
            background-image: url(../../pictures/left-skob_blue.svg);
        }

        &::before {
            left: initial;
            right: 0;
            content: "";
            background-image: url(../../pictures/right-skob_blue.svg);
            ;
        }
    }

    &__net {
        display: flex;
        align-items: center;
        gap: 6px;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out 2.9s forwards;
    }


    &__link {
        width: 38px;
        height: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        opacity: 0;
        animation: blurFadeIn 1.2s ease-out forwards;

        &:nth-child(1) {
            animation-delay: 2.9s;
        }


        &:nth-child(2) {
            animation-delay: 3.1s;
        }


        &:nth-child(3) {
            animation-delay: 3.3s;
        }


        &:nth-child(4) {
            animation-delay: 3.5s;
        }



        &::after,
        &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 24px;
            width: 6px;
            left: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &::after {
            content: "";
            background-image: url(../../pictures/left-skob.svg);
        }

        &::before {
            left: initial;
            right: 0;
            content: "";
            background-image: url(../../pictures/right-skob.svg);
        }
    }
}